html {height: 100%;}
body { background: #000; color: #fff; padding-bottom: 10rem}

a, a:visited { color: #F4E2AA; text-decoration: none;}
a:hover { color: #F1B90E; text-decoration: none; }

h1,h2,h3,h4,h5,h6, p, a { text-rendering: optimizeLegibility; }
section { padding: 3rem; }

.section-header { font-size: 4rem; width: 98%; margin: .25em; }
.link-badge {
  font-size: .8rem;
  background: linear-gradient(90.63deg, #E8BB42 0.11%, #E1A913 97.49%);
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: .6rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding-top: .75rem;
  transition: all .3s ease-in-out;

  &.badge-large { font-size: 1em; margin-top: 2rem; }

  &:hover {
    transform: translateY(.3rem);
    color: #fff;
    }
  }

.card { height: 20rem; width: 20rem; background: #fff; color: #000; border-radius: 3px; padding: 2rem; }

h1,h2,h3,h4,h5, .roboto {
  font-family: "Roboto", Helvetica, Arial, san-serif;
}

h1 {
  font-size: 4.375em;
  font-weight: bold;
  aside { font-size: 1.8rem; font-weight: normal; text-transform: uppercase;}

  }

.logo-white {
  background: url("../img/logo-wh.svg") no-repeat;
  width: 13.75rem;
  display: inline-block;
  height: 5rem;
  background-size: contain;
  }

.fl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fl-wrap { flex-wrap: wrap; }
.fl-jc-sa { justify-content: space-around; }

.fl-rw, .fl-row { flex-direction: row; }
.fl-jc-c { justify-content: center; }
.fl-jc-sa { justify-content: space-around; }
.fl-jc-sb { justify-content: space-between; }

.boxed {
  background: #030206;
  outline: 6px solid #FFFFFF;
  color: #FFF;
  padding: .4em;
  display:inline-block;
  margin: .25em 0;
  }

.ico {
  background: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  }

body > header {
  color: #000;
  height: 70vh;
  min-height: 50rem;
  background: #FFF url('../img/bg.jpg') no-repeat top right;
  background-size: contain;

  #deets {
    background: #fff;
    width: 48%;
    padding: .8rem .8rem 0 0;
  }
  .logo {
      background: #FFF url("../img/logo.svg");
      width: 13.75rem;
      padding-left: 0;
      display: block;
      height: 5rem;
      background-size: contain;
    }
  }

.container {
  max-width: 68rem;
  padding: 1rem;
}

#sign-up {
  // width: 80%;
  width: 30rem;
  // position: fixed;
  background: #336DF8;
  // background-image: linear-gradient(-270deg, #6391FF 0rem, 33rem);

  color: #fff;
  text-decoration: none;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;

  text-transform: uppercase;

  position: fixed;
  left: 50%;
  margin-left: -15rem;
  bottom: 2rem;

  border-radius: 3px;

  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20);
  border-radius: .5rem;
  transition: all .3s;


  span {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.15);
    opacity: .9;
    transition: all .3s;
    }

 &:hover{
   background-position: 100px;
   transform: translateY(-.1em);
   background: #245DE5;
   // box-shadow: 0 16px 14px 0 rgba(0,0,0,0.20);
   & span { opacity: 1; }
   }
}

section#prizes {
  background: #000 url('../img/eth-pattern-drk.svg') repeat;
  border: #000 1.5rem solid;
  align-content: flex-start;
  justify-content: flex-start;


  h2 { width: 100%; display: block; text-align: center; margin: .2em; }

  .cash {
    font-weight: bold;
    font-size: 2.5em;
  }
  div > div {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    width: 28%;
    max-width: 24rem;
    margin: 1rem;
    min-width: 250px;
    h2 { margin: -.5em; font-size: 1.8em; }
  }
}

#tracks {
  background: url('../img/tracks-bg.jpg') no-repeat;
  // width: 48rem;
  background-size: 70%;
  background-position: top center;

  header {
  // height: 6rem;
  text-align: center;
  padding: 0 15rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;

  // h2 { width: 70%; }
  }

.link-badge {
  padding-top: .75rem;
  transition: all .3s ease-in-out;
  }

#brief-tracks {
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
   }

 article {
  color: #000;
  padding: 1rem;
  margin: 1rem;
  // height: 80vh;

  text-align: center;

  background: #fff;
  border-radius: 3px;
  width: 45%;

  margin-bottom: 3rem;
  }

  #brief-tracks .briefs {
    text-align: left;
    flex-grow: 1;
    min-width: 400px;

    h3 {
      font-size: 1.8em;
      text-align: center;
     }
  }
  #brief-1 {

    // min-width: 750px;
    }
}

#industries {
  background: #000 url('../img/eth-pattern-drk.svg') repeat;
  border: #000 1.5rem solid;
  > p { min-width: 200px; text-align: center;}
}

#about-labs {
  .logo-white {
    height: 1em;
    margin-bottom: -.3rem;
    margin-left: .8rem;
  }
}

#judge { flex: 2; }
#contact { flex: 1; min-width: 800px; }

footer#judge-labs {
  justify-content: flex-start;
  align-items: flex-start;

  background: url('../img/footer-bg.jpg') no-repeat bottom center;
  background-size: cover;

}

@import "responsive";
